In [1]:
import pandas as pd

In [2]:
iris_flower = pd.read_csv("Iris_flower.csv")

In [3]:
iris_flower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
iris_flower["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
iris_flower.drop("Id", axis = 1, inplace = True)

In [6]:
iris_flower

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
#Preparing the dataset
#Training set will be all columns except the last one
x_features = iris_flower.drop("Species", axis = 1)
x_features
#Target is the last column
y_target = iris_flower.drop(["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"], axis = 1)
y_target

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [8]:
#Lets implement the model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [10]:
#we are going to split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(x_features, y_target, test_size=0.2, random_state=1)

In [11]:
#Training the model
model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train.values.ravel())

LogisticRegression(max_iter=1000)

In [12]:
print(x_train.shape, x_test.shape)

(120, 4) (30, 4)

In [13]:
predictions = model.predict(x_test)

In [14]:
accuracy_score(y_test, predictions)

0.9666666666666667